.ReflexDuel {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.ReflexDuel__StrikeIndicator {
    font-size: 15em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    color: #F5F8FA;
    opacity: 0;
}

.ReflexDuel__StrikeIndicator--strike {
    opacity: 1;
}
