.ReflexDuel__Start {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.ReflexDuel__Start__Title {
    font-size: 10em;
    margin: 0.4em 0 0 0;
}

.ReflexDuel__Start__CountDown {
    font-size: 2em;
}

.ReflexDuel__PickFighter {
    margin: 4em;
    width: 100%;
}

.ReflexDuel__PickFighter p {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    font-size: 2em;
}

.ReflexDuel__PickFighter__Items {
    display: flex;
    justify-content: center;
}

.ReflexDuel__PickFighter__Item {
    background: transparent;
    border: 2px solid transparent;
    padding: 2em;
    margin: 2em;
    cursor: pointer;
    position: relative;
}

.ReflexDuel__PickFighter__Item-Label {
    background: #3DCC91;
    padding: 0.2em 1em;
    position: absolute;
    top: 0;
    left: 0;
}

.ReflexDuel__PickFighter__Item:hover {
    border-color: #F5F8FA;
}

.ReflexDuel__PickFighter__Item:hover .ReflexDuel__PickFighter__Item-Label {
    background: #F5F8FA;
}

.ReflexDuel__PickFighter__Item--active {
    border-color: #3DCC91;
}
